[Unit]
Description=Temp Sensor
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/dev/tempsensor/tempsensor.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
